<!DOCTYPE html>
<html>
<head>
	<title>Página Principal</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="containerCard">
			<%obras.forEach(obra=>{%>
		
			<div class="card">
				<div class="card__img">
					<img src="<%=obra.foto%>" alt="">
				</div>
				<div class="card__title">
					<h2><a href="/obras/<%=obra.id%>"><%=obra.name%></a></h2>
					<h4><%=autores[obra.idAut].nome%></h4>
				</div>
			</div>

			<%});%>
		</div>
	</div>
</body>
</html>