@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background: #f0f0f0;;
}

.containerCard {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;

}

.card {
	background: #fff;
	margin: 0.6rem;
	width: 13rem;
	height: 16rem;
}

.card .card__img {
	margin: 0.5rem;
	text-align: center;
}

.card img {
	width: 12rem; 
	height: 10rem;
}

.card .card__title {
	margin: 0.5rem;
}

.card .card__title h2 {
	font-size: 1rem;
}

.card .card__title h2 a{
	color: black;
}

.card .card__title h4 {
	font-size: 0.6rem;
}

/*15*/